<div class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh">
  <h3><strong>
      <%= error.status %>
    </strong></h3>
  <h3><strong>
      <%= error.message %>
    </strong></h3>
</div>